.hero{
    &__row{
        padding: 64px 0;
    }
}
.banner{
    padding: 15px;
&__row{
    margin: -15px;
}
&__supttile{
    @include font($font-poppins, 12px, 600, 18px);
    color: $color-green;
}
&__title{
    @include font($font-poppins, 22px, 600, 33px);
    color: $color-black;
}
&__link{
    @include font($font-poppins, 15px, 600, 22px);
    color: $color-black;
}
}