.reviews{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1111;
        height: 100%;
        width: 100px;
        background-color: rgba(255, 255, 255, 0.5) ;
        box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.5);
    }
    &__row{
        flex-wrap: nowrap;
    }
    &__item{
        padding: 24px 32px;
        max-width: 370px;
        text-align: center;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 12px;
       
    }
    &__description{
        @include font($font-poppins, 16px, 500, 22px);
        font: normal 500 16px/23px;
        text-align: center;
        color: $color-black;
    }
    &__author{
        @include font($font-poppins, 12px, 600, 18px);
        margin: 24px 0 16px;
        color: $color-gray;
    }
    &__image{
        width: 48px;
        height: 48px;
    }
}