.header{
    &__top{
        padding: 16px 45px;
        display: flex;
        justify-content: space-between;   
        border-bottom: 2px solid #f9f9f9;
    }
    &__middle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 45px 45px;
    }
    
}
.contact{
    display: flex;
    &__item{
        margin-right: 33px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__link{
        @include font($font-open, 12px, 400, 16px);
        color: $color-black;
        transition: 0.4s;
        &:hover{
            color: $color-green;
            opacity: 0.6;
            cursor: pointer;
            
        }
    }
}

.nav{
    &__list{
        display: flex;   
    }
    &__item{
        margin-right: 38px;
        &:last-child{
           margin-right: 0;
       }

    }
    &__link{
        @include font($font-open, 12px, 400, 16px);
        color: $color-green;
        transition: 0.4s;
        &:hover{
            color: $color-black;
            cursor: pointer;
        }
    }
}
.search-bar{
    align-items: center;
    display: flex;
    padding: 10px 16px;
    background-color:$color-lightGray;
    max-height: 42px;
    border-radius: 12px;
    &__list{
        width: 140px;
        max-height: 23px;
        &.is-active{
            li{ 
                 display: block; 
                 animation: fading 0.3s forwards;
        @keyframes fading  {
            from{
                height: 0;
            }
            to{
                height: 40px;
            }
        } 
            }   
    }
        }
    &__item{
        display: none;
        background-color: $color-lightGray;
        &:last-child{
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        &:nth-child(2){
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
        }
        &:hover{
            background-color: $color-green;
            a{
                color: $color-white;
            }
        }
    }
    &__link{
        @include font($font-open, 14px, 400, 19px); 
        padding: 10px 15px;
        color: $color-black;
       
    }
    &__title{
        @include font($font-poppins, 15px, 700, 22px);
        position: relative;
        cursor: pointer;
        margin-bottom: 5px;
        img{
            position: absolute;
            top: 50%;
            right: -20px;
            max-width: 20px;
            transition: 0.3s;
        }
        &.is-active{
            img{
                transform: rotate(180deg) translateY(50%);;
            }
        }
    }
    &__input{
        @include font($font-open, 14px, 400, 19px);
        padding: 3px 0 3px 24px;
        margin-left: 48px;
        border: none;
        outline: none;
        background-color: transparent;
        border-left: 2px solid $color-gray;
        min-width: 230px;
        color: $color-gray;
        &::placeholder{
            @include font($font-open, 14px, 400, 19px);
            color: $color-gray;
        }  
    }
    &__btn{
        display: flex;
        align-items: center;
        margin-left: 10px;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        img{
            transition: 0.3s;
        }
        &.is-active{
            transform: rotate(-90deg);
        }
    }
}
.system{
    &__list{
      display: flex;
    }
    &__item{
        margin-left: 40px;
    }
}


