.header{
    &__top{
        padding: 16px 45px;
        display: flex;
        justify-content: space-between;   
        border-bottom: 2px solid #f9f9f9;
    }
    &__middle{
        display: flex;
      
   
    }
    &__icons{
        display: flex;
       
    }
    
}
.contact{
    display: flex;
    &__item{
        margin-right: 33px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__link{
        @include font( $font-open, 12px, 400, 16px,);
        color: $color-black;
        transition: 0.4s;
        &:hover{
            color: $color-green;
            opacity: 0.6;
            cursor: pointer;
            
        }
    }
}
.nav{
    &__list{
        display: flex;   
    }
    &__item{
        margin-right: 38px;
        &:last-child{
           margin-right: 0;
       }

    }
    &__link{
        @include font( $font-open, 12px, 400, 16px,);
        color: $color-green;
        transition: 0.4s;
        &:hover{
            color: $color-black;
            cursor: pointer;
        }
    }
}
.search-bar{
    background-color:$color-lightGray;
    max-height: 42px;
}


