@mixin font($family, $size, $weight, $line-height) {
	font-family: $family;
	font-size: $size;
	font-weight: $weight;
	line-height: $line-height;
}
@mixin position($pos, $top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: $pos;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}