@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 45px;
}

li {
  list-style-type: none;
  text-decoration: none;
}

a {
  display: flex;
  text-decoration: none;
}

span {
  display: flex;
}

img {
  max-width: 100%;
}

.header__top {
  padding: 16px 45px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f9f9f9;
}

.header__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 45px;
}

.contact {
  display: flex;
}

.contact__item {
  margin-right: 33px;
}

.contact__item:last-child {
  margin-right: 0;
}

.contact__link {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #151515;
  transition: 0.4s;
}

.contact__link:hover {
  color: #6A983C;
  opacity: 0.6;
  cursor: pointer;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 38px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #6A983C;
  transition: 0.4s;
}

.nav__link:hover {
  color: #151515;
  cursor: pointer;
}

.search-bar {
  align-items: center;
  display: flex;
  padding: 10px 16px;
  background-color: #f9f9f9;
  max-height: 42px;
  border-radius: 12px;
}

.search-bar__list {
  width: 140px;
  max-height: 23px;
}

.search-bar__list.is-active li {
  display: block;
  animation: fading 0.3s forwards;
}

@keyframes fading {
  from {
    height: 0;
  }
  to {
    height: 40px;
  }
}

.search-bar__item {
  display: none;
  background-color: #f9f9f9;
}

.search-bar__item:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.search-bar__item:nth-child(2) {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.search-bar__item:hover {
  background-color: #6A983C;
}

.search-bar__item:hover a {
  color: #fff;
}

.search-bar__link {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  padding: 10px 15px;
  color: #151515;
}

.search-bar__title {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  position: relative;
  cursor: pointer;
}

.search-bar__title img {
  position: absolute;
  top: 50%;
  right: -20px;
  max-width: 20px;
  transition: 0.3s;
}

.search-bar__title.is-active img {
  transform: rotate(180deg) translateY(50%);
}

.search-bar__input {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  padding: 3px 0 3px 24px;
  margin-left: 48px;
  border: none;
  outline: none;
  background-color: transparent;
  border-left: 2px solid #d1d1d1;
  min-width: 230px;
  color: #d1d1d1;
}

.search-bar__input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #d1d1d1;
}

.search-bar__btn {
  display: flex;
  align-items: center;
  margin-left: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
