.container {
  max-width: 1260px;
  margin: auto;
  padding: 0 45px;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav_li {
  margin: 0 20px 0 0px;
}

.header__nav_a {
  color: #6A983C;
  text-decoration: none;
}

.header__nav_a:hover {
  color: #080A0B;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__contact_a {
  text-decoration: none;
  color: #080A0B;
}

.header__contact_a:hover {
  color: #6A983C;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
