* {
 
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 45px;
}

li {
  list-style-type: none;
  text-decoration: none;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  max-width: 100%;
}

.header__top {
  padding: 16px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #f9f9f9;
}

.header__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 45px;
}

.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__item {
  margin-right: 33px;
}

.contact__item:last-child {
  margin-right: 0;
}

.contact__link:hover {
  color: #6A983C;
  opacity: 0.6;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 38px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  color: #6A983C;
}

.nav__link:hover {
  color: #151515;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
