.blog{
    padding-top: 70px;
    padding-bottom: 65px;
    &__title{
        @include font($font-poppins, 18px, 600, 27px);
        color: $color-black;
        margin-bottom: 35px;
    }
}
.big-post{
    &__item{
        position: relative;
        background-color: red;
        &::before{
            content: '';
            width: 470px;
            height: 400px;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
    &__background{
        position: absolute;
        left: 0;
        top: 0;
        width: 470px;
        height: 400px;
        z-index: -1;
    }
    &__title{
        
    }
}