*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1260px;
    padding: 0 45px;
    
}
li{
    list-style-type: none;
    text-decoration: none;
}
a {
    display: flex;
    text-decoration: none;
}
span{
    display: flex;
}
img{
    max-width: 100%;
}
.col-3{
    width: 25%;
}
.col-9{
    width: 75%;
}